.friendList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 480px;
  padding: 20px;
  background-color: rgb(242, 246, 241);
  margin-bottom: 30px;
}

.oneFriend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: 2px solid rgb(49, 48, 48);
  border-radius: 8px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
