.table {
  border-collapse: collapse;
  width: 480px;
}

.thead {
  background-color: #373434;
  color: #fcfcfb;
}

.columnHead,
.columnBody {
  height: 40px;
}

.columnCapt,
.columnBodyAmCur,
.columnBodyType {
  width: 160px;
  padding: 8px;
  text-align: center;
  border: 2px solid #0f0e0e;
}

tbody {
  background-color: #fcfcfb;
  color: #0f0e0e;
}

.columnBodyType {
  text-align: left;
  padding-left: 40px;
}
